<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-ofsset-2 col-md-8 col-lg-offset-3 col-lg-6">
    <div class="text-center">
        <img src="/aalam/ecomm/i/brand.img" alt="Brand image" style="margin-bottom:12px">
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <auth-login *ngIf="auth_display=='login'"></auth-login>
            <auth-register *ngIf="auth_display=='register'"></auth-register>
            <p class="center-text" *ngIf="auth_display=='login'">
                <a (click)="auth_display='register'">Register</a>
            </p>
            <p class="center-text" *ngIf="auth_display=='register'">
                <a (click)="auth_display='login'">Login</a>
            </p>
        </div>
    </div>
</div>
<div class="clearfix"></div>
