<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-ofsset-2 col-md-8 col-lg-offset-3 col-lg-6">
    <div class="text-center">
        <img src="/aalam/ecomm/i/brand.img" alt="Brand image" style="margin-bottom:12px">
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div>
            <h3>Update Profile</h3>
            <form (ngSubmit)="update()">
              <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" class="form-control" [(ngModel)]="first_name" placeholder="e.g, John">
              </div>
              <div class="form-group">
                <label for="">Last Name</label>
                <input type="text" name="last_name" class="form-control" [(ngModel)]="last_name" placeholder="e.g, Appleseed">
              </div>
              <div class="form-group">
                <label for="">Mobile Number</label>
                <input type="tel" name="mobile" class="form-control" [(ngModel)]="mobile" placeholder="e.g, 9366661133">
              </div>
              <div class="form-group">
                <label for="">Email ID</label>
                <input type="email" name="email_id" class="form-control" [(ngModel)]="email" placeholder="e.g, hello@aalam.io">
              </div>

              <div *ngIf="auth && !auth['current'] && auth['available_auths'].length > 0">
                <p><span class="glyphicon glyphicon-alert text-danger"></span> Your account is not protected.
                    If you wish to protect your account, choose from the following method(s)
                </p>
              </div>

              <div *ngIf="auth && auth['current'] && auth['available_auths'].length > 0">
                <p><span class="glyphicon glyphicon-ok text-success"></span> You had earlier opted to protect your account.
                    <span *ngIf="auth['available_auths'].length > 1">
                    You can however change the authentication type if you wish.
                    </span>
                </p>
              </div>
              <div class="form-group" *ngIf="auth">
                <ng-template ngFor [ngForOf]="auth['available_auths']" let-xauth="$implicit">
                  <label style="text-transform:capitalize" class="control-label">
                    <input type="radio" name="auth" [(ngModel)]="new_auth_type" [value]="xauth"/> {{xauth}}
                  </label>
                  <br/>
                </ng-template>
                <div *ngIf="auth['current']">
                  <label class="control-label">
                    <input type="radio" name="auth" [(ngModel)]="new_auth_type" [value]="''"/> No Protection
                  </label>
                </div>
              </div>

               <div class="form-group" *ngIf="new_auth_type == 'password' && new_auth_type != auth['current']">
                <label class="control-label">Choose a password</label>
                <input class="form-control" type="password" [(ngModel)]="new_password" name="password"/>
              </div>

              <div *ngIf="success_msg && success_msg.length > 0" class="alert alert-success">
                <div *ngFor="let msg of success_msg"><span class="glyphicon glyphicon-ok"></span> {{msg}}</div>
              </div>
              <br />
              <div *ngIf="alert_msg && alert_msg.length > 0" class="alert alert-danger">
                <div *ngFor="let msg of alert_msg"><span class="glyphicon glyphicon-remove"></span> {{msg}}</div>
              </div>
              <br/>
              <button type="submit" class="btn btn-primary center-block">
                <span class="glyphicon glyphicon-repeat"></span> Update
              </button>
            </form>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
